<!DOCTYPE html>
<html>
<head>
  <title>Sina's Sweet Travel Map</title>
  <link rel="stylesheet" type="text/css" href="style/style.css"
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

<%= yield %>

</body>
</html>
